$color-primary: #fff;
$color-secondary: #000;

$color-grey-1: #b3b3b3;
$color-grey-2: #2c2c2c;
$color-grey-3: #333;

$primary-font: 'Nunito Sans', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
