.main-desktop {
  height: 100%;
  position: relative;
  display: flex;
  overflow-y: hidden;
  width: auto !important;
  max-width: none !important;
  left: 0;
  top: 0;
  // display: none;

  &.scroll {
    overflow-y: visible;
  }

  @media only screen and (max-height: 700px) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }

  .composition-1,
  .composition-2 {
    display: flex;
  }

  .composition-text-1,
  .composition-text-2 {
    width: 70rem;
    align-self: center;

    h1 {
      line-height: 1.1;
      overflow: hidden;

      &:not(:first-child) {
        margin-bottom: 2rem;
      }

      span {
        display: inline-block;
      }
    }
  }

  .composition-1 {
    transform: translateX(-27rem);

    @include respond(tab-port) {
      transform: translateX(-42rem);
    }
  }

  .composition-1-contain {
    img {
      height: 130vh;
    }
  }

  .composition-text-1 {
    margin: 0rem 10rem 0;
  }

  .composition-2-contain {
    img {
      padding-top: 5rem;
      height: 100vh;
    }
  }

  .composition-text-2 {
    margin: 0rem 30rem 0;
    position: relative;

    .backdrop-dots {
      position: absolute;
      top: 5%;
      left: -2%;
      transform: translate(-50%, -50%);
    }

    .down-arrow {
      position: absolute;
      bottom: -20%;
      right: -20%;
      transform: translate(-50%, -50%);
      width: 12rem;
    }
  }
}

.main-mobile {
  display: none;

  @media only screen and (max-height: 700px) {
    display: block;
  }

  @include respond(phone) {
    display: block;
  }

  .composition-1-contain,
  .composition-2-contain {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 8rem;
    }

    img {
      padding: 0rem 3rem;
      width: 50rem;
      margin: 0 auto;
      display: block;

      @include respond(phone) {
        width: 100vw;
      }
    }
  }

  .composition-text-1,
  .composition-text-2 {
    padding: 15rem 3rem 6rem;
    position: relative;

    h1 {
      line-height: 1.1;
      overflow: hidden;

      &:not(:first-child) {
        margin-bottom: 2rem;
      }

      span {
        display: inline-block;
      }
    }

    .backdrop-dots {
      position: absolute;
      top: 25%;
      left: 7%;
      transform: translate(-50%, -50%);
      width: 12rem;
    }

    .down-arrow {
      position: absolute;
      top: 40%;
      right: -2%;
      // bottom: -20%;
      // right: -7%;
      // transform: translate(-50%, -50%);
      width: 10rem;
    }
  }
}
