.header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: flash 0.3s infinite forwards;
    animation-timing-function: step-start;

    h1 {
      line-height: 1.3;
    }
  }

  .logo {
    padding: 4rem 7.5rem;
    opacity: 0;

    img {
      width: 10rem;
    }

    @include respond(tab-land) {
      padding: 4rem 5.5rem;
    }

    @include respond(tab-land) {
      padding: 3rem 3.5rem;
    }

    @include respond(phone) {
      img {
        width: 7rem;
      }

      padding: 1rem 1.2rem;
    }
  }

  .textbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 9rem;
    opacity: 0;
    z-index: 1;

    h2 {
      font-size: 6rem;
      font-weight: 300;
      line-height: 1.2;
      overflow: hidden;
      margin-bottom: 1rem;

      span {
        display: inline-block;
      }

      @include respond(phone) {
        font-size: 3rem;
        line-height: 1;
      }
    }

    h1 {
      text-transform: uppercase;
      overflow: hidden;
      line-height: 1.1;

      span {
        display: inline-block;
        overflow: hidden;
      }
    }

    @include respond(tab-land) {
      top: 80%;
      padding-left: 7rem;
    }

    @include respond(tab-port) {
      top: 75%;
      padding-left: 5rem;
    }

    @include respond(phone) {
      top: 80%;
      padding-left: 3rem;
    }

    @media only screen and (max-height: 750px) and (min-width: 700px) {
      top: 60%;
    }
  }

  .hero-contain {
    opacity: 0;
  }

  .hero {
    position: absolute;
    right: -5%;
    top: 0;
    height: 100vh;
    z-index: -1;
    transform: translateY(-22%);

    @include respond(tab-land) {
      right: -15%;
    }

    @include respond(tab-port) {
      transform: translateY(-15%);
      right: -30%;
    }

    @include respond(phone) {
      right: -57%;
    }
  }
}
